DJANGO_SECRET_KEY=cambia-este-valor-en-produccion
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,tu-dominio.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://tu-dominio.com

DB_ENGINE=postgresql
DB_NAME=proyecto_linea_102
DB_USER=postgres
DB_PASSWORD=tu_password
DB_HOST=192.168.1.25
DB_PORT=5432

LANGUAGE_CODE=es-ar
TIME_ZONE=America/Argentina/Buenos_Aires
